.perfil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-color: var(--background_painel);
  padding-left: 30px;
}

.container {
  width: 98%;
  height: 85vh;
  padding: 20px;
  background-color: #2b9348;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
}

.header {
  color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 35px;
  padding-top: 50px;
  font-weight: 800px;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding-top: 40px;
}

.right-container {
  width: 55%;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.form-group-password {
  display: flex;
  flex-direction: column;
}

.div-input-password {
  display: flex;
}

.input-password {
  padding: 10px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
  border-right: 0px;
  width: 100%;
  outline: none;
  font-family: sans-serif;
}

.btn-password {
  width: 10%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: 0px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
  font-family: sans-serif;
}

.lbl {
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.save-button,
.cancel-button {
  width: 50%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  background: #ffff;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px #00000045;
}

.cancel-button:hover {
  opacity: 0.7;
}

.save-button:hover {
  opacity: 0.7;
}

.modal-editar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 950px;
  height: 40vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 0px 0px #00000065;
  transition: all 0.3s ease-in-out;
}