.navbar-container {
  background-color: var(--background_nav_bar);
  transition: all 0.3s ease-in-out;
}

a {
  color: var( --color_labels_all);
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.mobile-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: var(--color_lines);
}

.nav-list {
  list-style: none;
  display: none;
  height: calc(90vh - 45px);
}

.nav-list li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  height: auto;
  width: auto;
  font-size: 20px;
}

.icon-home,
.icon-chart,
.icon-user-pen {
  color: var(--color_icons);
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.nav-list img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.line-botton {
  border-bottom: 1px solid var(--color_line_bottom);
  width: 100%;
}

.div-nome-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
  label,span{
    color: var(--color_span_usuario);
  }
}

.nav-list.open {
  display: block;
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.line1.open {
  transform: rotate(-45deg) translate(-8px, 8px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.line2.open {
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.line3.open {
  transform: rotate(45deg) translate(-5px, -7px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}
